form {
  padding-top: 15px;
  padding-bottom: 15px;

}

input:not([type='checkbox']),
textarea,
select {
  @extend .form-control;

}

.errorlist {
  @extend .list-group;

  li {
    @extend .list-group-item, .list-group-item-danger;

  }

}