{% load static %}

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <span class="navbar-text navbar-left">
                &copy; <a href="#" class="navbar-link">abelles</a>
        </span>
        <a role="button" class="github-button btn btn-default navbar-btn navbar-left" href="https://github.com/abellesnet/forRent">
            See on GitHub
            <img class="github-icon" src="{% static "img/GitHub-Mark-32px.png" %}">
        </a>
        <button type="button" class="btn btn-info navbar-btn go-top navbar-right">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </button>
    </div>
</nav>

