{% load i18n %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-name" href="/">
                forRent
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <div class="navbar-left">
                {#                            <ul class="nav navbar-nav">#}
                {#                                <li><a href="#">Anonimous</a></li>#}
                {#                            </ul>#}
                {% if perms.rooms %}
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'myrooms_list' %}">
                                {% trans "My rooms" %}
                            </a></li>
                        {% endif %}
                        {% if perms.rooms.add_room %}
                            <li><a href="{% url 'room_create' %}">
                                {% trans "Create room" %}
                            </a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="navbar-right">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        {% if user.is_staff %}
                            <li>
                                <a href="/admin">{% trans "Site administration" %}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ user.profile.get_absolute_url }}">{{ user.get_full_name }}</a>
                        </li>
                    </ul>
                    <a class="btn btn-primary navbar-btn" href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        {% trans "Logout" %}
                    </a>
                {% else %}
                    <a class="btn btn-primary navbar-btn" href="{% url 'user_create' %}">
                        <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {% trans "Register" %}
                    </a>
                    <a class="btn btn-primary navbar-btn" href="{% url 'login' %}">
                        <span class="glyphicon glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        {% trans "Login" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>