{% load i18n %}

{% if room.host == user %}

    <hr>

    <div class="row">
        <p class="col-xs-12 text-center">
            <a class="host-button btn btn-primary" role="button" href="{% url 'room_update' pk=room.pk %}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                {% trans "Update" %}
            </a>
            <a class="host-button btn btn-primary" role="button" href="{% url 'room_delete' pk=room.pk %}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                {% trans "Delete" %}
            </a>
        </p>
    </div>

{% endif %}

