{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <title>
        {% block title %}
            forRent
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!-- Replace the value of the key parameter with your own API key. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAASvAEhb68Z_QxHVQ2JVLuL50caymBWlk&libraries=places"
            async defer></script>
</head>
<body>

{% block header %}
    <header class="header">
        {% include "includes/header.html" %}
    </header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    <footer class="footer">
        {% include "includes/footer.html" %}
    </footer>
{% endblock %}

<script src="{% static "js/app.js" %}"></script>

</body>
</html>