{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <div class="container">
        <h1 class="text-center">
            {% trans "My rooms" %}
        </h1>
    </div>

    {% include "includes/pagination.html"  with page_obj=page_obj %}

    <div class="container">

        <section class="row">

            {% for room in object_list %}

                {% include "includes/room_in_list.html"  with room=room %}

            {% empty %}
                <p>
                    {% trans "No rooms yet." %}
                </p>
            {% endfor %}

        </section>

    </div>



{% endblock %}