{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <div class="container">

        <form class="signup" action method="post">

            {% csrf_token %}

            <p>
                {% blocktrans trimmed %}
                    Are you sure you want to delete "{{ object }}"?
                {% endblocktrans %}
            </p>

            <button type="submit" class="form-button btn btn-primary">
                {% trans "Confirm" %}
            </button>

            <a href="{{ object.get_absolute_url }}">
                {% trans "Cancel" %}
            </a>

        </form>

    </div>


{% endblock %}