{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12 text-center">
                <h4><span class="label label-danger">
                    {% trans "Are you sure you want to delete this booking?" %}
                </span></h4>
            </div>
        </div>

        <form class="signup" action method="post">

            {% csrf_token %}

            <div class="row">
                <p class="col-xs-12 text-center">
                    <button type="submit" class="host-button form-button btn btn-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        {% trans "Delete" %}
                    </button>
                    <a class="host-button btn btn-default" role="button" href="{% url 'roombooking_list' %}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% trans "Cancel" %}
                    </a>
                </p>
            </div>

        </form>

        <article class="row">
            <div class="col-xs-12">
                <h4>{{ object.room }}</h4>
                <h5>{{ object.since }} - {{ object.to }}</h5>
                <h5>{{ object.total_price }} €</h5>
            </div>
        </article>

    </div>

{% endblock %}
