{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <div class="container">
        <h1 class="text-center">
            {% trans "Rooms for rent" %}
        </h1>
    </div>

    {% include "includes/pagination.html"  with page_obj=page_obj %}

    <div class="container">

        {% for room in object_list %}

            <h4>
                <a href="{{ room.get_absolute_url }}">{{ room }}</a>
            </h4>

        {% empty %}
            <p>
                {% trans "No rooms yet." %}
            </p>
        {% endfor %}

    </div>


{% endblock %}